/* The used font: Roboto */
@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    font-family: Roboto, sans-serif;
}

.header {
    display: flex;
    background-color: #1F2937;
    width: 100%;
    height: 4em;
    justify-content: space-between;
    align-items: center;
    font-size: 16px;
}

.maxwidth {
    padding: 0px 200px;
}

/* Header links, and decorations */
.header-links {
    list-style: none;
}

.header-links li {
    display: inline-block;
    padding: 0px 10px;
}

.header-links li a {
    color: #F9FAF8;
}

/* Logo sizing, and decorations */
.logo {
    font-size: 24px;
    font-weight: bold;
    color: #F9FAF8;
}

a {
    text-decoration: none;
}

.hero {
    display: flex;
    align-items: center;
    background-color: #1F2937;
    height: 24em;
}

.hero-text {
    max-width: 30em;
}

.hero-main {
    font-size: 48px;
    color: #F9FAF8;
    font-weight: 900;
}

.hero-sec {
    font-size: 18px;
    color: #E5E7EB;
}

.hero-button {
    background-color: #3882F6;
    color: #F9FAF8;
    font-size: 18px;
    font-weight: bold;
    cursor: pointer;
    padding: 4px 18px;
    margin-top: 0.5em;
    border-radius: 10%;
}

.hero-img {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: grey;
    width: 400px;
    height: 200px;
    margin-left: auto;
}

/* Informations section */
.info {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 6em;
    background-color: #E5E7EB;
}

.info header {
    display: flex;
    color: #1F2937;
    font-size: 36px;
    font-weight: 900;
    margin: 1em;
}

.items {
    display: flex;
    justify-content: center;
    height: 18em;
    background-color: #E5E7EB;
    color: #1F2937;
}

.items-box {
    display: block;
    margin: 0 1.5em;
    justify-content: center;
    align-items: center;
    width: 150px;
    height: 250px;
}

.box {
    width: 150px;
    height: 150px;
    border-radius: 15%;
    border: 3px solid #3882F6;
    margin: 0 auto;
}

.items span {
    display: block;
    text-align: center;
    margin: 1em 0;
}